
/* Your CSS Code here. */
.container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border: 1px solid #ddd;
      padding: 20px;
      width: 86%;
    }
    .internship-header{
      grid-column: 2/span 3;
    }
    input{
      margin-top: 12px;
    }
    .form-college{
      grid-column: 1/span 1;
    }
    .form-cheak-box{
      grid-column: 1/span 1;
    }